body{
    font-family: 'Oswald', sans-serif;
}

input{
    border-radius: 10px;
    padding: 10px;
}

span{
    font-size: 20px;
    padding: 5px;
}

button{
    width: 200px;
    height:70px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 0%;
    font-size: 20px;
    background-color: crimson;
    color:whitesmoke;
    cursor: pointer;
}

button:hover{
    background-color: whitesmoke;
    color:crimson;
}
.container{
    text-align: center;
    max-width: 100%;
    background-color: orange;
    border-radius: 30px;
}

h2{
    cursor: pointer;
    color: rgb(64, 34, 99); 
}

h2:hover{
    color: crimson; 
}

#tab-content2{
    padding-bottom: 15px;
}

p{
    font-size: 20px;
    font-weight: 700;
    color: rgb(64, 34, 99);
}

